src/main/resources/sleepsession.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://souradippatra.com/wellrested/soap"
           xmlns:tns="http://souradippatra.com/wellrested/soap"
           elementFormDefault="qualified">

    <!-- Request -->
    <xs:element name="SleepSessionRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sessionId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Response -->
    <xs:element name="SleepSessionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="userId" type="xs:long"/>
                <xs:element name="startTime" type="xs:string"/>
                <xs:element name="endTime" type="xs:string"/>
                <xs:element name="sleepQuality" type="xs:int" minOccurs="0"/>
                <xs:element name="notes" type="xs:string" minOccurs="0"/>
                <xs:element name="recommendation" type="xs:string" minOccurs="0"/>
                <xs:element name="advice" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
